@using BugTracker.ViewModels;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <main >
        <div class="h-100 w-100 position-absolute">
        <div class="d-flex flex-row h-100">


        <aside class="d-flex flex-column bg-light">
            <!-- Logo -->
            <div class="d-flex flex-column m-2 pb-2 border-bottom text-center">
                <div class="nav-item" role="button">
                    <a ><img src="https://github.com/twbs.png" width="40" height="40" class="rounded-circle flex-shrink-0"></a>
                </div>
            </div>
            <!-- Dashboard -->
            <div class="d-flex flex-column m-1 p-0 border-bottom text-center">
                <div class="nav-item" role="button" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a asp-controller="Home" asp-action="Index"><img src="https://github.com/twbs.png" width="40" height="40" class="rounded-circle flex-shrink-0"></a>
                </div>
                <small class="mb-2">Dashboard</small>
            </div>
            <!--Project List-->
            <div class="d-flex flex-column text-center">
                @if (User.Identity.IsAuthenticated)
                {
                    List<ProjectLinkViewModel> projectList = ViewBag.ProjecLinkVM;
                    @if (projectList != null)
                    {
                        @foreach (var item in projectList)
                        {
                            <div class="nav-item m-2 mb-0" role="button" data-toggle="tooltip" data-placement="right" title="@item.Title">
                             <a asp-controller="Project" asp-action="Detail" asp-route-id="@item.Id"><img src="https://github.com/twbs.png" width="50" height="50" class="rounded-circle m-0 p-0 flex-shrink-0"></a>
                            </div>
                        }

                    }
                }
            </div>
        </aside>
        <aside class="container-fluid p-0">
            <!-- Header -->
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1 justify-content-start align-items-center">
                                <li class="nav-item m-0 p-0">
                                    <a class="nav-link text-dark m-0 p-0" asp-controller="Home" asp-action="Index"><img src="https://github.com/twbs.png" width="30" height="30" class="rounded-circle flex-shrink-0"></a>
                                </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
                                    </li>
                                    }
                            </ul>
                            <ul class="navbar-nav flex-grow-1 justify-content-end">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li class="nav-item">
                                                <form asp-area="" asp-controller="Account" asp-action="Logout">
                                                    <button class="btn btn-outline-danger">Logout</button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                                            </li>
                                        }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- Body -->
            <div class="container">
                    <br />
                @RenderBody()
            </div>
        </aside>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
