@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projects";
}

<div class="album py-5">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                        <a asp-controller="Project" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
