@using BugTracker.ViewModels;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="row justify-content-md-center">
    <div class="col-5">
        <div class="card">
          <div class="card-body">
                <div class="row justify-content-md-center">
                    <!-- Title-->
                    <div class="col-11">
                        <h4>Log In</h4>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                                <div class="col-md-12 alert alert-danger">
                                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                                </div>
                    }
                    <!-- Form -->
                    <div class="col-11">
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group py-2">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control">
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group py-2">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group py-2">
                                <input class="btn btn-success form-control my-0" type="submit" value="Log In" />
                            </div>
                        </form>
                    </div>
                    <!-- Register / Demo-->
                    <div class="col-11">
                        <hr/>
                        <a type="button" class="btn btn-outline-danger form-control my-2" asp-controller="Account" asp-action="Register">Sign Up</a>
                        <button type="button" class="btn btn-outline-secondary form-control mb-2">Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>